vendor/
simple_captcha/src/fonts/otf/
simple_captcha/src/fonts/font5.ttf
simple_captcha/src/fonts/font6.ttf
simple_captcha/src/fonts/font7.ttf
simple_captcha/src/fonts/font8.ttf
simple_captcha/src/fonts/ReadMe_TTF.MD
